@model ProjetoDimDim.Models.Implantacao

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Implantacao</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StatusImplantacao" class="control-label"></label>
                <input asp-for="StatusImplantacao" class="form-control" />
                <span asp-validation-for="StatusImplantacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VersaoDocker" class="control-label"></label>
                <input asp-for="VersaoDocker" class="form-control" />
                <span asp-validation-for="VersaoDocker" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServicoNuvem" class="control-label"></label>
                <input asp-for="ServicoNuvem" class="form-control" />
                <span asp-validation-for="ServicoNuvem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjetoId" class="control-label"></label>
                <select asp-for="ProjetoId" class ="form-control" asp-items="ViewBag.ProjetoId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
